.about {
    width: 50%;
    height: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    margin-right: 90px;
    margin-left: 450px;
    margin-top:0 px;
    background-color:lightsalmon;
    border-radius: 20px;

}
.mainAbout {
    margin-top:10px;
    height: 879px;
    weight:1000px;
}