.main-footer{
   color:white;
   background-color: rgb(68, 68, 68);
   padding-top:0.3em;
   position: relative;
   bottom: 0;
   width:100%;
   text-align: center;
   justify-content: center;
  }
 .col>p{
     font-size: 20px;
     padding: 8px;
     font-family: 'Raleway', sans-serif;
 }
.footerIcon{
    margin-right:0px;
    margin-left:20px;
    cursor:pointer;
}
