.header{
    margin-top:60px;
    padding:10px;
    margin-bottom:30px;
}
.headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    color:gray;
}
.headerTitleLg{
    margin-top:-20px;
    position: absolute;
    top:10%;
    font-size:70px;
    font-family: 'Raleway', sans-serif;
    background-color:linear-gradient(140deg, rgb(219, 98, 65) 0%, rgb(229, 91, 141) 100%);

}
.headerImg {
    width: 100%;
    height: 800px;
    margin-top:-50px;
    border-radius: 30px;
    object-fit: cover;
    
}